
body {
    background-color: rgb(90 170 255 / 67%);
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 24px;
    font-size: 16px;
    font-family: Poppins, sens-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
}

.card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 24px;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
    max-width: clamp(320px, 70vw, 740px);
    min-width: 260px;
    min-height: 280px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.background {
    display: flex;
    flex: 1 1 250px;
    justify-content: center;
    align-items: center;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    flex: 3 1 350px;
    flex-direction: column;
    justify-content: start;
    padding: 16px;
}

.content > h2 {
    font-size: clamp(1.3rem, 2.5vw, 1.8rem);
    font-weight: 700;
    margin-bottom: clamp(0.35rem, 2vw, 0.55rem);
}

.content > p {
    font-size: clamp(1rem, 1.74vw, 1.1rem);
    font-weight: 400;
    margin: 6px 0;
}

.content a {
    color: #7370f4;
}

.chips {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 12px 0px 16px 0px;
}

.chip {
    border-radius: 12px;
    padding: 10px;
    font-size: 15px;
    background-color: #EAEAEC;
    transition: all 0.3s;
    font-weight: 500;
}

.chip:hover {
    background-color: rgb(90 170 255 / 67%);
    color: #EAEAEC;
}

.action-buttons {
    border-top: 1px solid black;
    padding-top: 16px;
    gap: 12px;
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}

.action-buttons a {
    background-color: #29283F;
    color: white;
    padding: 12px;
    text-decoration: none;
    border-radius: 12px;
    outline: none;
    border: 1px solid black;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex: 1 0 240px;
    max-width: 100%;
}

.action-buttons a.secondary {
    background-color: inherit;
    color: #29283F;
    border: 1px solid var(#29283F);
    flex: 1 0 80px;
}

.titleContainer {
    height: 30px;
    width: 95%;
    display: flex;
    justify-content: center;
    display: flex;
    margin: auto;
}

.titleContainer p {
    text-align: center;
    margin-top: 10px;
}

.listContainer {
    width: 80%;
    margin: 80px 10% 0 10%;
}

.backButton {
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 0 5px 10px;
    background-color: white;
    width: 80px;
    height: 35px;
    margin: 10px 0 10px 10px;
}

.backButton:hover {
    background-color: #EAEAEC;;
}

.listsContainer {
    list-style-type: none;
}

.list {
    margin: 3px 0 0 3px;
    font-size: 25px;
    list-style-type: disc;
}


.endContainer {
    margin: 0;
}

.title {
    font-size: 25px;
}

.description {
    font-size: 19px;
    margin: 0 0 15px 15px;
}

.lineTag {
    width: 90%;
    height: 1px;
    margin: 10px auto 10px auto;
    background-color: black;
}


.educationContainer {
    width: 100%;
}

.learnMoreContainer {
    display: none;
    width: 100%;
    height: 80px;
    margin: 0 0 10px 0;
}

.otherSkillsAndTools {
    display: none;
    width: 100%;
    height: 170px;
}

.hTagMyLinks {
    margin: 10px 0 0 0;
}

.otherSkillsAndTools .a {
   color: black;
}

.content a {
    color: black;
    text-decoration: none;
}

.hTagInternships {
    margin: 10px 0 0 0;
}

.links:hover {
    color: rgb(90 170 255 / 67%);
}